# Pandas II - Data Cleaning

_Aug 5, 2020_

Agenda today:
- Introduction to lambda function
- Introduction to data cleaning in pandas

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Part I. Lambda function
lambda functions are known as anonymous functions in Python. It allows you to write one-line functions that are used together with `map()`, `filter()`.

Syntax of lambda function: `lambda arguments:expressions`.

In [3]:
# lambda function with one argument
func_1 = lambda x:x+10
func_1(10)

20

In [4]:
# lambda function with multiple arguments
func_2 = lambda x, y, z: x+y+z if z + y > x else x-y+z
func_2(10,12,10)

32

In [5]:
# exercise: turn the below function into a lambda function
def count_zeros(li):
    """
    return a count of how many zeros are in a list
    """
    count = sum(x == 0 for x in li)
    return count

In [6]:
count_zeros([1,2,4,0])

1

In [13]:
def count_zeros(li):
    return sum(list(map(lambda x: x==0, (li))))
count_zeros([1,2,4,0])

1

## Part II. Data Cleaning in Pandas
You might wonder what the usage of lambda functions are - they are incredibly useful when applied to data cleaning in Pandas. You can apply it to columns or the entire dataframe to get results you need. For example, you might want to convert a column with $USD to Euros, or temperature expressed in Celsius to Fehrenheit. You will learn three new functions:

- `Apply()` - on both series and dataframe

- `Applymap()` - only on dataframes

- `Map()` - only on series

In [ ]:
# import the dataframe 
df =

In [ ]:
# examine the first few rows of it

In [ ]:
# check the datatypes of the df

In [ ]:
# check whether you have missing values

In [ ]:
# creating new columns - broadcasting

In [ ]:
# check the dataframe

In [ ]:
# time to use lambda and apply! with apply, applymap, and map, you never need to "iterate through the rows"

# create a function that takes in the weight as lbs, and return weight in tons 

# 1 lb = 0.0005

In [ ]:
# exercise - create a new column called "years old", which determines how old a car is

### Data Cleaning - level up with the adult dataset

Dataset documentation:
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [46]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
columns = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race', 'sex',
          'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income_greater_than_50k']
adults = pd.read_csv(url, header = None)

In [47]:
# Check the first few rows 
adults.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [48]:
# add the columns to dataset
adults.columns = columns

In [49]:
# check the info of dataset
adults.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      32561 non-null  int64
 1   workclass                32561 non-null  object
 2   fnlwgt                   32561 non-null  int64
 3   education                32561 non-null  object
 4   education_num            32561 non-null  int64
 5   marital_status           32561 non-null  object
 6   occupation               32561 non-null  object
 7   relationship             32561 non-null  object
 8   race                     32561 non-null  object
 9   sex                      32561 non-null  object
 10  capital_gain             32561 non-null  int64
 11  capital_loss             32561 non-null  int64
 12  hours_per_week           32561 non-null  int64
 13  native_country           32561 non-null  object
 14  income_greater_than_50k  32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [50]:
adults.isna().sum()

age                        0
workclass                  0
fnlwgt                     0
education                  0
education_num              0
marital_status             0
occupation                 0
relationship               0
race                       0
sex                        0
capital_gain               0
capital_loss               0
hours_per_week             0
native_country             0
income_greater_than_50k    0
dtype: int64

In [51]:
# perform some queries - find the total number of females who has bachelors degree
adults[(adults['sex']=='Female')&(adults['education']=='Bachelors')]

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, income_greater_than_50k]
Index: []

In [52]:
# seems like we have data anolmaly, find out what that is and fix it 

# hint - tons of entries contain white space, remove it!

adults.education.unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [53]:
adults.education = adults.education.apply(lambda x: x.strip())

In [54]:
adults.sex.unique()

array([' Male', ' Female'], dtype=object)

In [55]:
adults.sex = adults.sex.apply(lambda x: x.strip())

In [56]:
#Re-run code down here
adults[(adults['sex']=='Female')&(adults['education']=='Bachelors')]

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income_greater_than_50k
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
71,31,Private,309974,Bachelors,13,Separated,Sales,Own-child,Black,Female,0,0,40,United-States,<=50K
125,47,Private,287828,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,>50K
152,33,Private,163003,Bachelors,13,Never-married,Exec-managerial,Other-relative,Asian-Pac-Islander,Female,0,0,40,Philippines,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32511,25,Local-gov,514716,Bachelors,13,Never-married,Adm-clerical,Own-child,Black,Female,0,0,40,United-States,<=50K
32530,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K

In [ ]:
# create a column called income_binary, 1 if >50k and 0 otherwise

In [60]:
adults['income_greater_than_50k'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [80]:
adults.income_greater_than_50k = adults.income_greater_than_50k.apply(lambda x: x.strip())

In [81]:
adults['income_binary'] = adults.income_greater_than_50k.apply(lambda x: 1 if x=='>50K' else 0)

In [82]:
# get some descriptive statistics of the income distribution 
adults.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income_greater_than_50k,income_binary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0

In [85]:
adults.income_binary.value_counts()

0    24720
1     7841
Name: income_binary, dtype: int64